<link rel="stylesheet" href="/stylesheets/admin.css">
<!-- Sidebar -->
<div
    class="d-flex flex-column flex-shrink-0 bg-light sidebar"
    style="width: 4.5rem;"
>
    <a
        href="/"
        class="d-block p-3 link-dark text-decoration-none text-center"
        title="Leafy"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
    >
        <i class="fa-solid fa-leaf"></i>
        <span class="visually-hidden">Leafy</span>
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li>
            <a
                href="/admin/product"
                class="nav-link py-3 border-bottom rounded-0 active"
                title="Sản phẩm"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
            >
                <i class="bi bi-cart"></i>
            </a>
        </li>
        <li>
            <a
                href="/admin/employee"
                class="nav-link py-3 border-bottom rounded-0"
                title="Nhân viên"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
            >
                <i class="bi bi-people"></i>
            </a>
        </li>
        <li>
            <a
                href="/admin/reporting"
                class="nav-link py-3 border-bottom rounded-0"
                title="Thống kê"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
            >
                <i class="fa-solid fa-chart-simple"></i>
            </a>
        </li>
    </ul>
    <div class="text-center">
        <a
            href="/admin/profile"
            class="nav-link py-3 border-bottom rounded-0"
            title="Hồ sơ"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
        >
            <i class="bi bi-person-circle"></i>
        </a>
        <form action="/auth/logout" method="post">
            <a
                href="#"
                class="nav-link py-3 border-bottom rounded-0"
                title="Đăng xuất"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                onclick="this.parentNode.submit()"
            >
                <i class="bi bi-box-arrow-right"></i>
            </a>
        </form>
    </div>
</div>
<!-- Main -->
<main class="px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>Sản phẩm</h1>
        {{#if messages.success}}
            <div class="alert alert-success alert-dismissible fade show ms-auto" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{{messages.success}}}
            </div>
        {{/if}}
        {{#if messages.error}}
            <div class="alert alert-danger alert-dismissible fade show ms-auto" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{{messages.error.[0]}}}
            </div>
        {{/if}}
    </div>
    <div class="d-flex nav-option mb-3">
        <form class="d-flex w-100" action="/admin/product/search" method="get">
            <input type="text" name="q" id="" class="form-control w-100" placeholder="Tìm kiếm theo tên, mã vạch" />
            <button type="submit" class="btn btn-dark" id="btn-search">Tìm kiếm</button>
        </form>
        <a href="/admin/product/add" style="text-decoration:none">
            <button class="btn btn-outline-dark h-100" data-bs-toggle="modal" data-bs-target="#add-product-modal">
                Thêm sản phẩm
            </button>
        </a>
        <button id="btnDeleteProducts" class="btn btn-dark">Xóa sản phẩm</button>
    </div>
    
    <table class="table table-hover w-100 align-middle">
        <colgroup>
            <col span="1" style="width: 0%; min-width: 40px" />
            <col span="1" style="width: 0%; min-width: 40px" />
            <col span="1" style="width: 0%; min-width: 150px" />
            <col span="1" style="width: 0%; min-width: 200px" />
            <col span="1" style="width: 0%; min-width: 180px" />
            <col span="1" style="width: 0%; min-width: 180px" />
            <col span="1" style="width: 0%; min-width: 130px" />
            <col span="1" style="width: 0%; min-width: 130px" />
            <col span="1" style="width: 0%; min-width: 100px" />
            <col span="1" style="width: 0%; min-width: 130px" />
            <col span="1" style="width: 0%; min-width: 80px" />
        </colgroup>

        <thead class="text-uppercase">
            <th></th>
            <th>STT</th>
            <th>Mã vạch</th>
            <th>Tên sản phẩm</th>
            <th>Giá nhập khẩu</th>
            <th>Giá bán lẻ</th>
            <th>Phân loại</th>
            <th>Hãng</th>
            <th>Xuất xứ</th>
            <th>Ngày tạo</th>
            <th></th>
        </thead>
        <tbody class="table-group-divider">
            {{#each products}}
            <tr>
                <input type="hidden" class="inputIdDeleteProducts" value="{{_id}}">
                <td>
                    <input class="form-check-input" type="checkbox" />
                </td>
                <td>{{add (add (mul (min ../currentPage 1) 10) @index) 1}}</td>
                <td>{{barcode}}</td>
                <th>{{name}}</th>
                <td>
                    {{formatCurrencyVND importPrice}}
                </td>
                <td>
                    {{formatCurrencyVND retailPrice}}
                </td>
                <td>
                    {{#if (eq category "phone")}}
                    <span>Điện thoại</span>
                    {{else if (eq category "earphone")}}
                    <span>Tai nghe</span>
                    {{else if (eq category "charger")}}
                    <span>Ốp điện thoại</span>
                    {{else}}
                    <span>Ốp lưng</span>
                    {{/if}}
                </td>
                <td>
                    {{brand}}
                </td>
                <td>
                    {{#if (eq country "vietnam")}}
                    <span>Việt Nam</span>
                    {{else if (eq country "china")}}
                    <span>Trung Quốc</span>
                    {{else if (eq country "usa")}}
                    <span>Mỹ</span>
                    {{else}}
                    <span>Châu Âu</span>
                    {{/if}}
                </td>
                <td>{{formatDate creationDate}}</td>
                <td>
                    <a href="/admin/product/edit/{{_id}}" style="text-decoration:none">
                        <span class="btn-edit me-3">
                            <i class="bi bi-pencil-fill"></i>
                        </span>
                    </a>
                    <form method="post" class="d-inline-block" action="/admin/product/delete/{{_id}}">
                        <span onclick="this.parentNode.submit()" class="pointer btn-delete">
                            <i class="bi bi-trash-fill"></i>
                        </span>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <nav class="d-flex">
        <div class="info text-secondary me-auto">
            Hiển thị
            {{#if (gt currentPage 1)}}
            {{min (mul currentPage 10) 10}} - {{mul currentPage 10}} của {{totalProducts}} sản phẩm
            {{else}}
            1 - {{mul currentPage 10}} của {{totalProducts}} sản phẩm
            {{/if}}

        </div>
        <ul class="pagination">
            {{#if search}}
            {{#if (gt totalPages 1)}}
            <li class="page-item {{#if (eq currentPage 1)}}disabled{{/if}}">
                <a class="page-link" href="/admin/product?q={{searchInfo}}&page={{min currentPage 1}}"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item {{#if (eq currentPage totalPages)}}disabled{{/if}}">
                <a class="page-link" href="/admin/product?q={{searchInfo}}&page={{add currentPage 1}}"
                    aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {{/if}}
            {{else}}
            {{#if (gt totalPages 1)}}
            <li class="page-item {{#if (eq currentPage 1)}}disabled{{/if}}">
                <a class="page-link" href="/admin/product?page={{min currentPage 1}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item {{#if (eq currentPage totalPages)}}disabled{{/if}}">
                <a class="page-link" href="/admin/product?page={{add currentPage 1}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {{/if}}
            {{/if}}

        </ul>
    </nav>
</main>

<script>
    $(document).ready(function () {
        $('#btnDeleteProducts').click(function () {
            const inputs = $('.inputIdDeleteProducts');
            const inputArray = Array.from(inputs);
            var stringInputIdDeleteProducts = "";
            inputArray.forEach(e => {
                var checkboxDelete = $(e).closest('tr').find('input[type="checkbox"]:checked');
                if (checkboxDelete.length != 0) {
                    stringInputIdDeleteProducts = stringInputIdDeleteProducts + "" + e.value + "/"
                }
            })
            console.log(stringInputIdDeleteProducts);
            $.ajax({
                url: '/admin/product/deletes',
                method: 'POST',
                dataType: 'json',
                data: {
                    data: stringInputIdDeleteProducts,
                },
                success: function (data) {
                    if (data.success === true) {
                        location.reload();
                    }
                },
                error: function (error) {
                    console.log("Error")
                }
            })
        })
    })
</script>
<script src="/javascripts/admin.js"></script>
