<link rel="stylesheet" href="/stylesheets/admin.css">
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<!-- Sidebar -->
<div
    class="d-flex flex-column flex-shrink-0 bg-light sidebar"
    style="width: 4.5rem;"
>
    <a
        href="/"
        class="d-block p-3 link-dark text-decoration-none text-center"
        title="Leafy"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
    >
        <i class="fa-solid fa-leaf"></i>
        <span class="visually-hidden">Leafy</span>
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
        <li>
            <a
                href="/admin/product"
                class="nav-link py-3 border-bottom rounded-0"
                title="Sản phẩm"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
            >
                <i class="bi bi-cart"></i>
            </a>
        </li>
        <li>
            <a
                href="/admin/employee"
                class="nav-link py-3 border-bottom rounded-0 "
                title="Nhân viên"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
            >
                <i class="bi bi-people"></i>
            </a>
        </li>
        <li>
            <a
                href="/admin/reporting"
                class="nav-link py-3 border-bottom rounded-0 active"
                title="Thống kê"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
            >
                <i class="fa-solid fa-chart-simple"></i>
            </a>
        </li>
    </ul>
    <div class="text-center">
        <a
            href="/admin/profile"
            class="nav-link py-3 border-bottom rounded-0"
            title="Hồ sơ"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
        >
            <i class="bi bi-person-circle"></i>
        </a>
        <form action="/auth/logout" method="post">
            <a
                href="#"
                class="nav-link py-3 border-bottom rounded-0"
                title="Đăng xuất"
                data-bs-toggle="tooltip"
                data-bs-placement="right"
                onclick="this.parentNode.submit()"
            >
                <i class="bi bi-box-arrow-right"></i>
            </a>
        </form>
    </div>
</div>

<!-- Main -->
<main class="px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >
        <h1 class="h2">Thống kê</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
               <a href="/admin/reporting"
                    type="button"
                     class="btn btn-sm btn-outline-dark d-flex align-items-center"
                >Hôm nay</a>
                <a href="/admin/reporting/yesterday"
                    type="button"
                     class="btn btn-sm btn-outline-dark d-flex align-items-center"
                >Hôm qua</a>
                <a href="/admin/reporting/sevenDaysAgo"
                    type="button"
                     class="btn btn-sm btn-outline-dark d-flex align-items-center"
                >7 ngày qua</a>
                 <a href="/admin/reporting/thisMonth"
                    type="button"
                     class="btn btn-sm btn-outline-dark d-flex align-items-center"
                >Tháng này</a>
            </div>
         
                <form class="d-flex" action="/admin/reporting/arangeDay" method="get">
                    <input type="text" class="form-control me-2" name="dates" id="input-dates" value="{{formatDate start}} - {{formatDate end}}">
                    <button type="submit" class="btn btn-dark">Tìm</button>
                </form>
          
        </div>
    </div>
    <h3 class="mb-3">Thống kê ({{formatDate start}} - {{formatDate end}})</h3>
    <div class="row gx-5">
        <div class="mb-3 col-3">
            <div class="rounded bg-success text-light p-3">
                <div>Tổng thu nhập</div>
                <div class="text-xxl price">{{formatCurrencyVND total}}</div>
            </div>
        </div>
        <div class="mb-3 col-3">
            <div class="rounded bg-warning text-light p-3">
                <div>Tổng số đơn hàng</div>
                <div class="text-xxl price">{{totalOrder}}</div>
            </div>
        </div>
        <div class="mb-3 col-3">
            <div class="rounded bg-primary text-light p-3">
                <div>Tổng sản phẩm bán ra</div>
                <div class="text-xxl price">{{totalProduct}}</div>
            </div>
        </div>
    </div>
    <h3>Danh sách đơn hàng</h3>
    <table class="table table-hover w-100 align-middle">
    <colgroup>
        <col span="1" style="width: 0%; min-width: 40px" />
        <col span="1" style="width: 0%; min-width: 40px" />
        <col span="1" style="width: 0%; min-width: 100px" />
        <col span="1" style="width: 0%; min-width: 100px" />
    </colgroup>

    <thead class="text-uppercase">
        <th>STT</th>
         <th>Mã đơn hàng</th>
        <th>Tên khách hàng</th>
       
        <th>Số điện thoại</th>
        <th>Thời gian tạo</th>
        <th>Sản phẩm</th>
        <th>Tổng tiền</th>
      
        <th></th>
    </thead>
    <tbody class="table-group-divider">
        {{#each Orders}}
        <tr>
            <td>{{increment @index}}</td>
            <td>
                  <a style="text-decoration: none;" href="/admin/reporting/order/{{_id}}">
                    {{_id}}
                </a>     
            </td>
            <td>{{customer.fullName}}</td>
            <td>
                {{customer.phoneNumber}}
            </td>
            <td>
                {{formatDate creationDate}}
            </td>
            <td>
                {{#each orderItems}}
                 x{{quantity}} {{product.name}} - {{formatCurrencyVND product.retailPrice}}
                <br>
                {{/each}}
               
            </td>
            <td>
                {{formatCurrencyVND total}}
            </td>
         
        </tr>
        {{/each}}
        
        
    </tbody>
</table>

</main>
<script src="/javascripts/admin-report.js"></script>